.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: #166534; 
  background-color: #dcfce7;
  border: 1px solid #365f45;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.blog{
    padding: 4px;
    margin: 4px 0px;
    padding-top: 10px;
    border: rgb(46, 45, 45) solid 1px;
    
}
div > p{
  margin: 0px;
  padding: 0px;
}